*{
    font-family: 'Roboto Mono', monospace;
}

body {
    background-image: url("../images/giftasticmoods.jpg");
    background-position: 90%;
}

#mood-form{
    margin-top: 20px;
}


#mood-view {
    border-radius: 25px;
    border: 2px solid white;
    padding: 10px;
}

#button{
    padding: 20px;
}

#gifs-appear-here{
    float: left;
    width: 100%;
    padding: 20px;
    display: table;
    margin-bottom: 20px;
  }
  
  /* Clear floats after image containers */
  .container::after {
    content: "";
    clear: both;
    display: table;
  }