*{
    font-family: 'Roboto Mono', monospace;
}

body {
    background-image: url("../images/giftasticmoods.jpg");
}



.buttons {
    border-radius: 25px;
    border: 2px solid  black;
    padding: 10px;
}
